<ion-header class="ion-no-border">
  <app-header [showBack]="false"></app-header>
</ion-header>


<ion-content class="miracle-bg">
  <div class="main-wrapper">
    
    <div class="welcome-card">
      
      <div class="card-logo-outer">
        <div class="card-logo-inner">
          <img src="logo.png" alt="Miracle Logo" class="logo-img" />
        </div>
      </div>

      <h1 class="main-title">MIRACLE</h1>

      <p class="subtitle">¡Aprende inglés de manera fácil y divertida!</p>

      <div class="buttons-row">
        <button routerLink="/login" class="btn-login">
          Iniciar sesión
        </button>

        <button routerLink="/register" class="btn-register">
          Registrarse
        </button>
      </div>

    </div>

  </div>
</ion-content>