/* Tailwind */
@import 'tailwindcss';

/* Estilos obligatorios del núcleo de Ionic */
@import '@ionic/angular/css/core.css';
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';

/* Utilidades opcionales pero recomendadas */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';
@import '@ionic/angular/css/display.css';

/* Estilos globales */
html,
body {
  margin: 0;
  padding: 0;
}

/* Corregido: Asterisco en lugar de guion */
* {
  box-sizing: border-box;
}